{% extends 'components/layout.html' %}

{% block title %} Edit Profile {% endblock title %}

{% block content %}
<div class="container-fluid" style="margin-top:5rem;">
    <div class="row-fluid p-2">
        <div class="col-lg-4 mx-auto">
            <h2>Edit Your Profile</h2>
            <br>
            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    <fieldset id="new-name-field">
                        {{ form.new_name.label }}
                        {{ form.new_name(class="form-control", placeholder="New Name")}}
                        <span class="validation_error">{{ ', '.join(form.new_name.errors) }}</span>
                    </fieldset>
                    <fieldset id="newpassword-field">
                        {{ form.newpassword.label }}
                        {{ form.newpassword(class="form-control", placeholder="New Password")}}
                        <span class="validation_error">{{ ', '.join(form.newpassword.errors) }}</span>
                    </fieldset>
                    <fieldset id="confirm_password-field">
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class="form-control", placeholder="Enter New Password Again...")}}
                        <span class="validation_error">{{ ', '.join(form.confirm_password.errors) }}</span>
                    </fieldset>
                    <fieldset id="current_password-field">
                        {{ form.current_password.label }}
                        {{ form.current_password(class="form-control", placeholder="Current Password...")}}
                        <span class="validation_error">{{ ', '.join(form.current_password.errors) }}</span>
                    </fieldset>
                    <br><br>
                    <!--Summit button-->
                    {{form.submit_button(class="btn btn-secondary btn-lg")}}
                </div>
            </form>
        </div>
    </div>
    <div class="row-fluid p-2">
        <div class="col-lg-4 mx-auto">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{category}} alert-dismissible fade show" role="alert">
                            <strong>{{message}}</strong>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock content %}